@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.mobile-container .mobile {
  height: 90%;
  width: 30%;
  overflow: hidden;
}

.icon-search {
  font-size: 25px;
}
